# ここにGitの追跡を除外したいファイル、ディレクトリなどを記述してね
python/app/function/__pycache__/
.env
python/app/function/images/
python/app/static/css/style.css
python/app/static/images/
python/app/static/csv/
python/app/static/.DS_Store