<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録メール確認</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">登録メール確認</h2>
        <form action="/certification" method="POST">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">メールアドレス</label>
                <input type="email" id="email" name="email" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="you@example.com " value="{{ email }}">
            </div>
            {% if error %}
            <p id="error-message" class="text-red-500 text-sm mb-4">{{ error }}</p>
            {% endif %}
            <div class="mb-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    送信
                </button>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs mt-6">
            パスワードを思い出した方はこちら <a href="/login" class="text-blue-500 hover:text-blue-800">ログインはこちら</a>
        </p>
        <p class="text-center text-gray-500 text-xs mt-6">
            <a href="/intro" class="text-blue-500 hover:text-blue-800">トップページへ戻る</a>
        </p>
    </div>
</body>
</html>