<!-- 開発者用ヘルプページ -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>テストページ</title>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('.tab');
            const sections = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', function () {
                    const target = document.querySelector(tab.dataset.target);

                    // タブのアクティブ状態を切り替え
                    tabs.forEach(t => t.classList.remove('active'));
                    tab.classList.add('active');

                    // セクションの表示を切り替え
                    sections.forEach(section => {
                        section.style.display = 'none';
                    });
                    target.style.display = 'block';
                });
            });
        });
    </script>
</head>

<body>
    <div class="block">
        <div class="fixed top-0 w-full bg-orange-500 text-white p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/">
                    <h1 class="text-xl font-bold">KDA</h1>
                </a>
                <nav>
                    <ul class="flex space-x-4">
                        <li><a href="#about" class="hover:text-orange-200">about</a></li>
                        <li><a href="#contact" class="hover:text-orange-200">contact</a></li>
                        <li><a href="#self-introduction" class="hover:text-orange-200">自己紹介</a></li>
                        <li><a href="/developers" class="hover:text-orange-200">開発者向け</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- サイドバー -->
        <div class="fixed top-[60px] bottom-0 w-64 bg-gray-800 text-white"> <!-- topの値を変更 -->
            <div class="p-6">ビルド手順</div>
            <ul class="p-5">
                <li><a href="#step1" class="block py-2 hover:bg-gray-700">1: 環境設定</a></li>
                <li><a href="#step2" class="block py-2 hover:bg-gray-700">2: 改行コードの変更</a></li>
                <li><a href="#step3" class="block py-2 hover:bg-gray-700">3: コンテナの起動</a></li>
                <li><a href="#step4" class="block py-2 hover:bg-gray-700">4: コンテナの停止</a></li>
            </ul>
        </div>
        <!-- メインコンテンツ -->
        <div class="mt-5 ml-64 p-10"> <!-- margin-leftを追加 -->
            <div class="tabs flex justify-center my-4">
                <div class="tab cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-400" data-target="#build">ビルド手順</div>
                <div class="tab cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-400" data-target="#structure">ページ構造
                </div>
                <div class="tab cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-400" data-target="#trouble">困ったときは
                </div>
            </div>
            <div id="build" class="tab-content bg-orange-50 rounded-md p-5">
                <h2 id="step1" class="text-2xl font-bold mt-5 mb-5">1: 環境設定</h2>
                <p>
                    ビルドを始める前に開発環境を設定します。<br>
                    本プロダクトではDockerを使用しています。Dockerではコマンド操作のみで適切にコンテナを作成し実行することができますが、
                    コンテナを起動するために必要な環境変数の設定が必要です。通常、環境変数は機密情報を含むことが多いため、
                    外部ファイル（本事例では.envファイル）に記述し、コンテナ起動時に読み込むようにします。そのため、
                    事前に.envファイルを作成し、環境変数を設定する必要があります。<br>
                    .envファイルに記述すべき環境変数は、Googleドライブ内にある「環境変数一覧」ドキュメントを参照してください。<br>
                    注意点として、gemini_api_key変数は各自で任意のAPIキーを取得し、そのキーを.envファイルに記述する必要があります。
                </p>
                <h2 id="step2" class="text-2xl font-bold mt-5 mb-5">2: 改行コードの変更</h2>
                <p>
                    コンテナをビルドする際に、シェルスクリプトを実行しています。<br>
                    シェルスクリプトでは改行コードをLF（\n）に設定する必要がありますが、Windows環境ではCRLFで設定されるようです。<br>
                    このままではビルド時にエラーが発生してしまうため、改行コードを変更する必要があります。<br>
                    VSCodeの右下にある改行コードの選択からLFに変更してください。<br>
                </p>

                <h2 id="step3" class="text-2xl font-bold mt-5 mb-5">3: コンテナの起動</h2>
                <p>
                    Dockerファイルはすでに作成済みであるため、あとはコマンド一つで起動することができます。<br>
                    ターミナルで以下のコマンドを実行してください。<br>
                    <code
                        class="text-xs bg-gray-800 text-green-400 p-1 block overflow-x-auto whitespace-pre-wrap rounded-md font-mono">
                    docker compose up --build
                </code>
                    --buildオプションをつけることで、Dockerイメージを再ビルドし、コンテナを起動します。<br>
                    これで、本プロダクトのビルドが完了しました。
                </p>

                <h2 id="step4" class="text-2xl font-bold mt-5 mb-5">4: コンテナの停止</h2>
                <p>
                    開発が終了した場合、または、コンテナに変更を適用する場合は、コンテナを停止する必要があります。<br>
                    コンテナを停止するには、ターミナルで以下のコマンドを実行してください。<br>
                    <code
                        class="text-xs bg-gray-800 text-green-400 p-1 block overflow-x-auto whitespace-pre-wrap rounded-md font-mono">
                    docker compose down
                </code>
                    これでコンテナは停止します。<br>
                    なお、tailwindコンテナが停止するまで時間がかかる場合がありますので、しばらくお待ちください。
                </p>
            </div>
            <div id="structure" class="tab-content" style="display: none;">
                <h2 class="text-2xl font-bold mt-5 mb-5">ページ構造</h2>
                <p>
                    本ページは、タブをクリックすることで、タブに対応するコンテンツが表示されるようになっています。<br>
                    タブのクリックイベントを取得し、コンテンツの表示を切り替えるJavaScriptを記述しています。<br>
                    また、タブのスタイルを変更するために、tailwindcssを使用しています。<br>
                    タブのスタイルは、.tabクラスに対して、activeクラスを付与することで変更しています。<br>
                    コンテンツの表示は、.tab-contentクラスに対して、displayプロパティを変更することで切り替えています。
                </p>
            </div>
        </div>
    </div>
</body>

</html>