<!-- デバック用いろいろ -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link rel="stylesheet" href="../static/css/style.css">
    {% include "header.html" %}
</head>

<body class="bg-gray-100">
    <form action="/rembg" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <input type="submit" value="送信">
    </form>
</body>

</html>