<!-- 画像添付画面 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapScore - 弁当五大栄養素診断</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="icon" href="../static/image/favicon.ico">
    {% include "header.html" %}
</head>

<!-- 背景色を薄いグレーに設定 -->

<body class="bg-gray-100">

    <!-- カメラ起動時に必要なパーツ -->
    <div id="caution"
        class="w-full h-auto fixed inset-0 items-center pointer-events-none hidden flex justify-center z-50">
        <!-- カメラ起動時の注意書き -->
        <div id="caution_text"
            class="text-[4vw] w-full h-auto fixed top-0 bg-black bg-opacity-70 p-4 pointer-events-auto">
            <p class="text-yellow-300">カメラの赤い十字をお弁当の真ん中に合わせてください</p>
            <br>
            <p class="text-yellow-300">白い机と白系統または透明な入れ物の組み合わせはご飯判定が上手くいかない可能性があります</p>
            <br>
            <p class="text-yellow-300">影で暗くなっていたり、光で白飛びしていると点数が下がる可能性があります</p>
            <br>
            <p class="text-yellow-300">この注意書きはタップで大きさが変化します</p>
        </div>
        <button id="takebutton"
            class="w-4/5 h-10 fixed bottom-4 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded cursor-pointer pointer-events-auto">撮影</button>
    </div>

    <!-- 製品説明 -->
    <div class="container mx-auto px-4 py-2">
        <div class="bg-white rounded-lg shadow-md p-6">

            <!-- アプリ概要 -->
            <div class="flex justify-center items-center gap-4">
                <!-- 左の要素 -->
                <div class="bg-white flex-grow-[12]">
                    <h1 class="text-2xl font-bold mb-4">弁当五大栄養素診断</h1>
                    <p class="mb-4">写真を撮って栄養素を診断しよう！</p>
                </div>
            </div>
        </div>

        <!-- 画像アップロードフォーム -->
        <!-- space-y-4: 子要素間の垂直方向の間隔を1rem（16px）に設定 -->
        <div class="container m-auto py-2">
            <div class="bg-white rounded-lg shadow-md p-6">

                <div class="mb-4 flex items-center justify-between">
                    <button id="startbutton"
                        class="max-w-xs bg-blue-500 hover:bg-blue-600 text-white font-bold my-2 py-2 px-4 rounded cursor-pointer disabled:opacity-50">カメラ起動</button>

                    <!-- select-none　で文字をなぞれなくする -->
                    <p class="select-none mr-4 ml-auto"><label for="geminiToggle" class="cursor-pointer">AIを使用する</label>
                        <input type="checkbox" id="geminiToggle" class="mr-2 cursor-pointer"
                           
                        onchange="toggleHiddenInput()">
                    </p>
                    <p class="select-none mr-4 ml-auto"><label for="geminiToggle" class="selected_mode">ハードモードにする</label>
                        <input type="checkbox" id="geminiToggle" class="mr-2 cursor-pointer"
                           
                        onchange="toggleHiddenInput()">
                    </p>
                </div>

                <div id="streamvideo" class="border-2 border-dashed border-gray-300 rounded-lg m-auto
            p-0 mb-4 text-center h-96 relative">
                    <!-- 十字を真ん中に表示するための要素 （#streamvideoの真ん中にする） -->
                    <div id="crossframe" class="absolute w-9 h-9 inset-0 m-auto hidden">
                        <!-- 水平要素と垂直要素を重ね合わせるための親要素 -->
                        <div id="cross" class="relative w-8 h-8">
                            <!-- 水平要素 -->
                            <div id="crosshor" class="bg-red-500 bg-opacity-50 w-full h-1 absolute z-10 inset-0 m-auto">
                            </div>
                            <!-- 垂直要素 -->
                            <div id="crossver" class="bg-red-500 bg-opacity-50 h-full w-1 absolute z-10 inset-0 m-auto">
                            </div>
                        </div>
                    </div>
                    <!-- playsinline は iPhoneでカメラを起動するために必要　指定しないと全画面再生になり上手くいかない -->
                    <video playsinline id="video" class="w-full h-full">ビデオは利用できません.</video>
                    <canvas id="canvas" class="hidden"></canvas>
                    <!-- </div> -->
                </div>

                <!-- 画像をgemini_demo.pyにPOSTする -->
                <form action="/gemini/image" method="post" enctype="multipart/form-data" class="space-y-4"
                    id="bentoForm">
                    <!-- border-2: 2pxの境界線を追加 -->
                    <!-- border-dashed: 破線の境界線を設定 -->
                    <!-- border-gray-300: 境界線の色を薄いグレーに設定 -->
                    <!-- rounded-lg: 大きめの角丸を適用 -->
                    <!-- p-4: すべての方向にパディング1rem（16px）を設定 -->
                    <!-- mb-4: 下マージンを1rem（16px）に設定 -->
                    <!-- text-center: テキストを中央揃えに設定 -->
                    <!-- cursor-pointer: マウスオーバー時にポインターカーソルを表示 -->
                    <div id="imagePreview" class="border-2 border-dashed border-gray-300 rounded-lg m-auto
                    p-4 mb-4 text-center cursor-pointer h-96">
                        <!-- hidden: 要素を非表示に設定 -->
                        <input type="file" id="image" name="image" class="hidden" accept="image/*">
                        <!-- text-gray-400: テキスト色を薄いグレーに設定 -->
                        <div id="placeholder" class="text-gray-400">
                            <!-- text-2xl: フォントサイズを大きく設定　テキストを中央に配置 -->
                            <p class="text-2xl text-center">画像を選択</p>
                        </div>
                        <!-- mx-auto: 画像を水平方向の中央に配置 -->
                        <!-- hidden: 初期状態で非表示に設定 -->
                        <img id="preview" class="mx-auto hidden" alt="画像プレビュー">
                    </div>

                    <input type="hidden" id="hiddenInput" name="" value="use_gemini">

                    <!-- 送信ボタン -->
                    <!-- w-full: 幅を親要素の100%に設定 -->
                    <!-- bg-blue-500: 背景色を青に設定 -->
                    <!-- hover:bg-blue-600: ホバー時に少し濃い青に変更 -->
                    <!-- text-white: テキスト色を白に設定 -->
                    <!-- font-bold: フォントを太字に設定 -->
                    <!-- py-2: 上下のパディングを0.5rem（8px）に設定 -->
                    <!-- px-4: 左右のパディングを1rem（16px）に設定 -->
                    <!-- rounded: 角丸を適用 -->
                    <input type="submit" id="submitButton" value="この画像を診断する！"
                        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded cursor-pointer disabled:opacity-50"
                        disabled>
                </form>

            </div>

        </div>

        <!-- ローディングスピナーの追加 -->
        <div id="loading" class="fixed inset-0 flex flex-col items-center justify-center bg-white bg-opacity-80 hidden">
            <div class="loading border-4 border-t-4  rounded-full w-16 h-16 mb-4"></div>
            <!-- ここで文字クリックするとランダムな処理416行目から -->
            <div id="clicktips" class="text-amber-700 text-lg cursor-pointer no-select mb-4 mx-5 font-sans ">これはテスト文字
            </div>
        </div>


        <script>
            //const { Rembg } = require('rembg-node');
            // import imglyRemoveBackground from "@imgly/background-removal";
            // フォームと関連要素の取得
            const form = document.getElementById('bentoForm');
            const imageInput = document.getElementById('image'); //画像インプット要素の変数
            const imagePreview = document.getElementById('imagePreview');
            const placeholder = document.getElementById('placeholder');
            const preview = document.getElementById('preview'); //imgタグの変数
            const submitButton = document.getElementById('submitButton');
            const streamvideo = document.getElementById('streamvideo'); //カメラ映像を映すdivクラス
            const loading = document.getElementById('loading');

            let height = 0;
            let width = imagePreview.clientWidth;

            let streaming = false; //現在ストリームされているか否か

            const video = document.getElementById('video'); //videoタグの変数
            const canvas = document.getElementById('canvas'); //canvasタグの変数
            const startbutton = document.getElementById('startbutton'); //カメラ起動ボタンの変数
            const takebutton = document.getElementById('takebutton'); //撮影ボタンの変数
            const crossframe = document.getElementById('crossframe'); //赤い十字を入れる枠の変数
            const tips = document.getElementById('clicktips'); //tipsが押された際の処理の変数
            const caution = document.getElementById('caution'); //写真撮影時にひょうじするものの変数
            const cautionText = document.getElementById('caution_text'); //注意書きの文章部分

            //ブラウザバックでこのページに遷移した際、リロードする
            window.addEventListener('pageshow', () => {
                if (window.performance.navigation.type == 2) location.reload();
            });

            // 画像プレビューエリアをクリックしたらファイル選択ダイアログを開く
            imagePreview.addEventListener('click', () => imageInput.click());

            // 画像が選択されたときの処理
            imageInput.addEventListener('change', function (e) {
                const file = e.target.files[0];
                if (file) {
                    // ファイルが選択された場合
                    const reader = new FileReader();
                    reader.onload = function (e) {

                        //ここからリサイズ処理-------------------------
                        //img変数を宣言
                        const img = new Image();
                        img.src = e.target.result;
                        img.onload = function () {
                            console.log("読み込んだ");
                            const ctx = canvas.getContext('2d')
                            // オリジナルサイズのデータURLを取得
                            const originalWidth = img.width;
                            const originalHeight = img.height;
                            if (originalWidth * originalHeight >= 250000) {
                                resizedDataURL = resizeImage(img);
                                // ここでBlobを生成し、imageInputに設定
                                const file = dataURLToFile(resizedDataURL, "resize.jpg");

                                // BlobをfileInputに設定
                                const dataTransfer = new DataTransfer();
                                dataTransfer.items.add(file);
                                imageInput.files = dataTransfer.files;

                            }
                        };

                        //ここまでリサイズ処理-------------------------

                        // 画像のプレビューを表示
                        preview.src = e.target.result;
                        preview.classList.remove('hidden');
                        // プレースホルダーを非表示
                        placeholder.classList.add('hidden');
                        //imagePreviewのh-72を削除
                        imagePreview.classList.remove('h-96');
                        // 写真撮影用のdivクラスを非表示
                        streamvideo.classList.add('hidden');
                        // カメラ起動ボタンを非表示
                        startbutton.classList.add('hidden');
                        // 送信ボタンを有効化
                        submitButton.disabled = false;
                    }
                    // ファイルを読み込み、データURLとして取得
                    reader.readAsDataURL(file);
                } else {
                    // ファイルの選択がキャンセルされた場合
                    // プレビューを非表示にし、プレースホルダーを表示
                    preview.classList.add('hidden');
                    placeholder.classList.remove('hidden');
                    // 写真撮影用のdivクラスを表示
                    streamvideo.classList.remove('hidden');
                    // カメラ起動ボタンを表示
                    startbutton.classList.remove('hidden');
                    // 送信ボタンを無効化
                    submitButton.disabled = true;
                }
            });

            form.addEventListener('submit', function (e) {
                loading.classList.remove('hidden');
                tipschange();
            });

            function startup() {
                //写真撮影時に必要なものを表示する
                caution.classList.remove('hidden');
                //画像入力画面を無効化する
                imagePreview.classList.add('pointer-events-none');
                //十字のマークを表示する
                crossframe.classList.remove('hidden');
                //カメラ起動ボタンを非表示にする
                startbutton.classList.add('hidden');
                //カメラのストリームを表示する
                streamvideo.classList.remove('hidden');

                //メディアストリームの取得
                navigator.mediaDevices.getUserMedia({
                    video: {
                        facingMode: { exact: "environment" } //背面カメラを指定
                    },
                    //video: true,
                    audio: false
                })
                    .then((stream) => {
                        video.srcObject = stream;
                        console.log(video.srcObject);
                        video.play();
                    })
                    .catch((err) => { //エラーが発生したら
                        console.error('エラーが発生しました：${err}');
                    });

                //映像の再生を待ち受ける
                video.addEventListener(
                    "canplay",
                    (ev) => {
                        if (!streaming) {
                            height = (video.videoHeight / video.videoWidth) * width;

                            console.log(width);
                            console.log(height);

                            video.setAttribute("width", width);
                            video.setAttribute("height", height);
                            canvas.setAttribute("width", width);
                            canvas.setAttribute("height", height);
                            streaming = true;
                        }

                    },
                    false,
                );

                //撮影ボタンのクリック処理
                takebutton.addEventListener(
                    "click",
                    (ev) => {

                        console.log(width);
                        takepicture();
                        ev.preventDefault();
                        // ビデオの無効化
                        if (streaming && video.srcObject) {
                            // ストリームのすべてのトラックを取得し、停止
                            video.srcObject.getTracks().forEach(track => track.stop());
                            //video.pause();
                            video.srcObject = null;
                            streaming = false;
                        }
                        //写真撮影時に必要なものを非表示にする
                        caution.classList.add('hidden');
                        //画像入力画面を有効化する
                        imagePreview.classList.remove('pointer-events-none');
                        //カメラ起動ボタンを表示する
                        //startbutton.classList.remove('hidden');
                        streamvideo.classList.add('hidden');
                    },
                    false,
                );

                clearphoto();
            }

            //写真ボックスをクリアする関数
            function clearphoto() {
                const context = canvas.getContext("2d");
                context.fillStyle = "#AAA";
                context.fillRect(0, 0, canvas.width, canvas.height);

                const data = canvas.toDataURL("image/jpeg");
                preview.setAttribute("src", data);
            }

            //写真のキャプチャ
            function takepicture() {
                const context = canvas.getContext("2d");
                if (width && height) {
                    canvas.width = width;
                    canvas.height = height;
                    context.drawImage(video, 0, 0, width, height);

                    const data = canvas.toDataURL("image/jpeg");

                    // ここでBlobを生成し、imageInputに設定
                    const file = dataURLToFile(data, "snapshot.jpg");

                    // BlobをfileInputに設定
                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(file);
                    imageInput.files = dataTransfer.files;

                    preview.setAttribute("src", data);
                    preview.classList.remove('hidden');
                    // プレースホルダーを非表示
                    placeholder.classList.add('hidden');
                    //imagePreviewのh-72を削除
                    imagePreview.classList.remove('h-96');
                    // 送信ボタンを有効化
                    submitButton.disabled = false;


                } else {
                    clearphoto();
                }
            }

            // Data URLをFileオブジェクトに変換する関数
            function dataURLToFile(dataurl, filename) {
                const arr = dataurl.split(','); //dateurlをコンマで分ける
                const mime = arr[0].match(/:(.*?);/)[1]; //arr[0]の:と;の間にある文字だけ切り取り:と;を省いて抜き出す
                const test = arr[0].match(/:(.*?);/); //arr[0]の:と;の間にある文字だけ切り取り:と;を省かず抜き出す
                const bstr = atob(arr[1]); //base64をデコードしバイナリ文字列に変換する
                let n = bstr.length; //バイナリ文字の長さを取得
                const u8arr = new Uint8Array(n); //8ビット符号なし整数の配列を長さnで初期化

                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n); //バイナリ数値データに変換
                }

                return new File([u8arr], filename, { type: mime });
            }

            // イベント・リスナーをセットアップし、スタートアップ・プロセスを実行する。
            // 読み込みが完了したら実行する
            if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
                startbutton.addEventListener("click", startup);// 

            } else {
                startbutton.classList.add('hidden');
                streamvideo.classList.add('hidden');// ❷その他PC・タブレットに適用させるJavaScriptを記述
            }

            // リサイズ処理を行う関数
            function resizeImage(img) {
                console.log("読み込んだ");
                const ctx = canvas.getContext('2d')
                // オリジナルサイズのデータURLを取得
                const originalWidth = img.width;
                const originalHeight = img.height;
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0);
                const originalDataURL = canvas.toDataURL('image/jpeg');
                const originalSize = originalDataURL.length;

                //倍率計算
                //Math.sqrtはルートのこと
                let magnification = Math.sqrt(250000 / (originalWidth * originalHeight));
                console.log(magnification);

                // リサイズ
                const newWidth = img.width * magnification; // ここでリサイズの比率を変更可能
                const newHeight = img.height * magnification; // 同上
                canvas.width = newWidth;
                canvas.height = newHeight;
                ctx.drawImage(img, 0, 0, newWidth, newHeight);

                // リサイズ後のデータURLを取得
                const resizedDataURL = canvas.toDataURL('image/jpeg');
                const resizedSize = resizedDataURL.length;

                // サイズの違いをコンソールに表示
                console.log(`Original size: ${originalSize} bytes`);
                console.log(`Resized size: ${resizedSize} bytes`);
                console.log(`リサイズ前のピクセル数: ${originalWidth * originalHeight} bytes`);
                console.log(`リサイズ後のピクセル数: ${newWidth * newHeight} bytes`);
                console.log(img.src);

                return resizedDataURL;
            }

            // geminiを使うかどうかの設定
            function toggleHiddenInput() {
                const checkbox = document.getElementById('geminiToggle');
                const hiddenInput = document.getElementById('hiddenInput');

                // チェックボックスがオンのときのみ、hiddenInputをフォームに追加
                if (checkbox.checked) {
                    hiddenInput.name = 'use_gemini';
                } else {
                    hiddenInput.name = '';  // チェックボックスがオフのときはhiddenInputの名前を削除
                }
            }

            let clickCount = 0; // クリック回数をカウントする変数

            cautionText.addEventListener("click", function () {
                // すべてのクラスを一度削除
                cautionText.classList.remove("text-[4vw]", "text-[3vw]", "text-[2vw]");

                // 状態に応じてクラスを追加
                if (clickCount === 0) {
                    cautionText.classList.add("text-[3vw]");
                    clickCount = 1; // 次の状態に移行
                } else if (clickCount === 1) {
                    cautionText.classList.add("text-[2vw]");
                    clickCount = 2; // 次の状態に移行
                } else {
                    cautionText.classList.add("text-[4vw]");
                    clickCount = 0; // 状態をリセット
                }
            });

            // クリックイベントを追加
            loading.addEventListener('click', tipschange);
            var oldtips = null; //tipsの重複を防ぐための変数
            //tipsをクリックした際のランダムな処理
            function tipschange() {
                // tips.csvからデータを取得
                fetch('/tips')
                    .then(response => response.json())
                    .then(data => {
                        let random;
                        do {
                            random = Math.floor(Math.random() * data.length);
                        } while (random === oldtips);
                        oldtips = random;
                        tips.innerText = data[random];
                    }
                    )
            }
        </script>
</body>


</html>