<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>hogehogefffff</title>
</head>

<body>
    <h1 class="text-4xl text-green-700 text-center font-semibold">Hello Tailwind</h1>
    <div class="text-center mt-10">
        <p class="text-green-100">fontの色</p>
        <p class="text-green-200">fontの色</p>
        <p class="text-green-300">fontの色</p>
        <p class="text-green-400">fontの色</p>
        <p class="text-green-500">fontの色</p>
        <p class="text-green-600">fontの色</p>
        <p class="text-green-700">fontの色</p>
        <p class="text-green-800">fontの色</p>
        <p class="text-green-900">fontの色</p>
    </div>
</body>

</html>