<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>この商品の説明</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body class="flex flex-col min-h-screen bg-orange-100">
    <header class="bg-gray-600 p-4 text-white text-center">
        <h1 class="text-xl font-bold">ここらへんにヘッダー</h1>
    </header>

    <main class="flex-grow flex items-center justify-center">
        <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">ようこそ SnapScore へ！</h2>
            <p class="text-gray-700 mb-8">あなたのお弁当を点数化・分析しましょう！</p>
            <a href="/gemini/image" class="bg-blue-600 text-white py-4 px-8 rounded-full shadow-lg text-lg">始める</a>
        </div>
    </main>

    <footer class="bg-gray-600 p-4 text-white text-center">
        <p class="text-xl">snapscoreは弁当の写真を読み込み、弁当の色どりの良さや五大栄養素の表示などを表示することができます。会社の同僚や学校の友達などとスコアを見比べてみましょう！</p>
    </footer>
</body>

</html>
