<!-- Snapscöreトップページ -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% include "header.html" %}
</head>

<body class="flex flex-col min-h-screen bg-orange-100">

    <main>
        <div class="">
            <!-- プロフィール -->
            <!-- 要素を横に配置 -->
            <div class="flex justify-left mx-4 ">
                <!-- 円形の枠でアイコン画像 -->
                <h1 class="rounded-full w-20 h-20 text-center bg-gray-500 ">
                    <img src="../static/images/CameraIcon.jpeg" alt="アイコン画像" class="rounded-full w-20 h-20">
                </h1>
                <!-- 要素を縦に配置 -->
                <div class="flex-col items-center ml-2 ">
                    <h2 class="text-3xl font-semibold ">{{session.user_name}}</h2>
                    <p class="text-sm underline decoration-slate-50 ">{{session.user_email}}</p>
                </div>
                <p class="flex justify-center items-center ml-4 text-lg text-blue-500 font-bold ">
                    <!-- /signupに飛ぶ -->
                    <a href="/signup">
                        パスワード変更
                    </a>
                </p>
            </div>
            <!-- プロフィール おわり -->
            <!-- TODO デバッグ用消す -->
            <div class="text-xl">
                データ数：{{mypage_data_size}}
            </div>
            {% if mypage_result_zen %}
            <!-- 履歴一覧コンテナ -->
            <div class="flex-col items-center">

                {% for score, bento_url, create_date in mypage_result_zen %}

                <!-- 履歴要素 -->
                <!--横 -->
                <div class="flex justify-left mx-8 my-2 rounded bg-white shadow-md">
                    <h1 class="flex items-center justify-center mx-1 my-1 w-20 h-20 text-center">
                        <img src="{{ bento_url }}" alt="Bento Image">
                    </h1>
                    <!-- 縦 -->
                    <div class="flex-col items-center ml-2 ">
                        <h2 class="text-sm font-semibold mt-2">
                            お弁当{{ loop.index }}
                        </h2>
                        <div class="flex justify-left">
                            <p class="text-4xl font-bold mt-2">
                                {{ score }}点
                            </p>
                            <p class="flex items-end ml-4 text-xs">
                                {{create_date }}
                            </p>
                        </div>
                    </div>
                </div>



                {% endfor %}
            </div>
            {% else %}
            <p>データが
            <p>ないで</p>
            {% endif %}

            <!-- ページネーションのリンク -->
            <a href="/mypage?page={{ page - 1 }}" class="text-blue-500" {% if page==1 %}style="display:none;" {% endif
                %}>Previous</a>
            <a href="/mypage?page={{ page + 1 }}" class="text-blue-500">Next</a>

        </div>
        </div>


    </main>

    {% include "footer.html" %}
    <!-- 画面全体を覆うオーバーレイの要素 -->
    <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 z-30 hidden"></div>
</body>

</html>