<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランキング</title>
    <link rel="stylesheet" href="../static/css/style.css">
    {% include "header.html" %}
</head>

<body class="flex flex-col min-h-screen bg-orange-100">
    <div class="flex justify-center leading-loose font-bold text-4xl">
        週間ランキングTOP3
    </div>
    <!-- ランキング一覧コンテナ -->
    <div class="flex-col items-center border border-black">
        {% for score, image_url, user_name in ranking_reselt %}
        <!-- ランキング要素 -->
        <!--横 -->
        <div class="flex justify-left mx-8 my-2 rounded bg-white shadow-md">
            <h1 class="flex items-center ml-2 justify-center text-4xl font-bold mt-2
                {% if loop.index == 1 %}text-yellow-500 mr-1.5
                {% elif loop.index == 2 %}text-gray-400
                {% elif loop.index == 3 %}text-orange-600
                {% endif %}">
                {{ loop.index }}位
            </h1>
            <h2 class="flex items-center justify-center mx-1 my-1 w-20 h-20 text-center">
                <img src="{{ image_url }}" alt="弁当画像" width="100">
            </h2>
            <!-- 縦 -->
            <div class="flex-col items-center ml-2 ">
                {% if user_name | length > 12 %}
                {% set name = user_name[:12] ~ '...' %}
                {% else %}
                {% set name = user_name %}
                {% endif %}
                <h3 class="text-sm font-semibold mt-2">
                    {{name}}
                </h3>
                <div class="flex justify-right">
                    <p class="text-4xl font-bold mt-2">
                        {{ score }}点
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>