<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>秘密の質問</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <script>
        // ページの戻るボタンを無効にする
        history.pushState(null, null, location.href);
        window.addEventListener('popstate', function(event) {
            history.pushState(null, null, location.href);
        });
    </script> -->

</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">本人確認</h2>
        <form action="/secret_question" method="POST">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">メールアドレス</label>
                <input type="email" id="email" name="email" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="you@example.com " value="{{ email }}">
            </div>
            <div class="mb-4">
                <label for="secret_question" class="block text-gray-700 text-sm font-bold mb-2">秘密の質問</label>
                <select id="secret_question" name="secret_question" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="0">質問を選択してください</option>
                    <option value="pet_name">最初のペットの名前は？</option>
                    <option value="mother_maiden_name">母親の旧姓は？</option>
                    <option value="first_school">最初に通った学校の名前は？</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="secret_answer" class="block text-gray-700 text-sm font-bold mb-2">秘密の質問の答え</label>
                <input type="text" id="secret_answer" name="secret_answer" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="答えを入力">
            </div>
            {% if error %}
            <p id="error-message" class="text-red-500 text-sm mb-4">{{ error }}</p>
            {% endif %}
            <div class="mb-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    送信
                </button>
            </div>
        </form>
    </div>
</body>
</html>