<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("password_confirmation").value;
            var errorMessage = document.getElementById("error-message");

            if (password !== confirmPassword) {
                errorMessage.textContent = "パスワードとパスワード確認が一致しません。";
                return false;
            }

            return true;
        }
    </script> -->
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">新規登録</h2>
        <form action="/signup" method="POST">
            <!-- <form action="/signup" method="POST" onsubmit="return validateForm()"></form> -->
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">ユーザー名</label>
                <input type="text" id="name" name="name" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="例: 山田太郎" value="{{ name }}">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">メールアドレス</label>
                <input type="email" id="email" name="email" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="you@example.com " value="{{ email }}">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">パスワード</label>
                <input type="password" id="password" name="password" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="英数字を含む8~16文字">
            </div>
            <div class="mb-6">
                <label for="password_confirmation" class="block text-gray-700 text-sm font-bold mb-2">パスワード確認</label>
                <input type="password" id="password_confirmation" name="password_confirmation" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="英数字を含む8~16文字">
            </div>
            {% if error %}
            <p id="error-message" class="text-red-500 text-sm mb-4">{{ error }}</p>
            {% endif %}
            <div class="flex items-center justify-between">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    登録
                </button>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs mt-6">
            既にアカウントをお持ちですか？ <a href="/login" class="text-blue-500 hover:text-blue-800">ログインはこちら</a>
        </p>
        <p class="text-center text-gray-500 text-xs mt-6">
            <a href="/intro" class="text-blue-500 hover:text-blue-800">トップページへ戻る</a>
        </p>
    </div>
</body>

</html>