@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    /* 青色の上部の枠線 */
    border-top: 4px solid #3498db;
    /* 1秒で1回転するアニメーション */
    animation: spin 1s linear infinite;
}